{% extends "layout.html" %}

{% block title %}
    ADD
{% endblock %}
{% block content %}
{% if messages %}
<div class='whole-form'>
  {% for message in messages %}
  <p id="added-msg">{{ message }}</p>
  <a href="{% url 'listTask' %}"><button  id='go-back-btn' type='button'>Go Back</button> </a>
  <a href="{% url 'addTask' %}"><button  id='add-another-btn' type='button'>Add One More Task</button> </a>
  {% endfor %}
</div>
{% else %}
<a href="{% url 'listTask' %}"><button  id='go-back-btn' type='button'>Go Back</button> </a>
    <div class="form-content">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="form-submit-btn">SUBMIT</button>
        </form>
    </div>
{% endif %}

{% endblock %}